@page "/loggy"
@using Microsoft.AspNetCore.Components.Forms
@using Loggy.Models
@inject LogUploadApiClient logUploadApi
@rendermode InteractiveServer

<div class="row">
    <div class="col-auto">
        <InputFile id="file-upload" class="form-control" OnChange="OnFileChange" />
    </div>
    <div class="col-auto">
        <button type="button" id="upload-button" class="btn btn-primary" @onclick="GetLogsFromFile">Upload</button>
    </div>
</div>
<div class="row">
    <div class="col-auto"> 
        <select class="form-select" id="logTypeSelect" @bind="logTypeSelected" @bind:event="onchange">
            <option value="SerilogUpload">Serilog (Default)</option>
        </select>
    </div>
    <div class="col-auto">
        <select class="form-select" id="sortOptions" @bind="sortOptionSelected" @bind:event="onchange">
            <option value="0">By Exception</option>
            <option value="1">By TimeStamp</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="logs">
            @if (logs != null)
            {
                <h3>Logs:</h3>
                @foreach (var log in logs)
                {
                    <div class="">
                        <h4>@log.Key</h4>
                        <ul>
                            @foreach (var logEvent in log.Value)
                            {
                                <li>@logEvent.Timestamp: @logEvent.Message</li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private IBrowserFile? logFile;
    public Dictionary<string, List<LogEvent>>? logs;
    private int sortOptionSelected;
    private string logTypeSelected = "SerilogUpload";
    private void OnFileChange(InputFileChangeEventArgs e)
    {
        logFile = e.File;
        StateHasChanged();
    }

    public async Task GetLogsFromFile()
    {
        if (logFile == null) return;
        logs = await logUploadApi.UploadLogAsync(logFile, logTypeSelected, sortOptionSelected);
        StateHasChanged();
    }
}