@page "/loggy"
@using Microsoft.AspNetCore.Components.Forms
@using Loggy.Models
@inject LogUploadApiClient logUploadApi
@rendermode InteractiveServer

<div class="row">
    <div class="col-auto">
        <InputFile id="file-upload" class="btn btn-primary" OnChange="OnFileChange" />
    </div>
    <div class="col-auto">
        <button type="button" id="upload-button" class="btn btn-primary" @onclick="GetLogsFromFile">Upload</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="logs">
            @if (logFile != null) { <p>File selected: @logFile.Name</p> }
            @if (logs != null)
            {
                <h3>Logs:</h3>
                @foreach (var log in logs)
                {
                    <div class="log-entry">
                        <h4>@log.Key</h4>
                        <ul>
                            @foreach (var logEvent in log.Value)
                            {
                                <li>@logEvent.Timestamp: @logEvent.Message</li>
                            }
                        </ul>
                    </div>
                }
            }   
        </div>
    </div>
</div>

@code {
    private IBrowserFile? logFile;
    public Dictionary<string, List<LogEvent>>? logs;

    private void OnFileChange(InputFileChangeEventArgs e)
    {
        logFile = e.File; // or e.GetMultipleFiles() if you need multiple
            StateHasChanged();
    }

    public async Task GetLogsFromFile()
    {
        if (logFile == null) return;
        logs = await logUploadApi.UploadLogAsync(logFile);
            StateHasChanged();
    }
}